.c-managers-wrapper {
    .o-container {
        display: grid;  
        height: 100%;    
        align-items: center;
        @include for-desktop-up {
            grid-template-columns: 49% 49%;
        }
    }
}
