@import "./../../settings/settings-colors";
@import "./../../settings/_settings-breakpoints";
@import "./../../settings/settings-shadows";

.c-contacts-section-form-wrapper {
    justify-self: center;
    align-self: center;
}

.c-contacts-section-form {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 60px 500px;
    grid-template-columns: 300px;
    row-gap: 32px;
    justify-content: center;
    @include for-desktop-up {
        grid-template-columns: 850px;
        grid-template-rows: 60px 360px;
        padding-top: 100px;
    }
    h2 {
        color: $primary-300;
        margin: 0;
        text-align: center;
    }
    &__form {
        display: grid;
        grid-template-rows: 50px 50px 190px 50px;
        grid-template-columns: 300px;
        grid-row: 2 /3;
        align-self: center;
        row-gap: 30px;
        align-self: start;
        @include for-desktop-up {
            grid-template-columns: 409px 409px;
            grid-template-rows: 50px 200px 50px;
            column-gap: 32px;
            textarea {
                grid-column: 1/3;
            }
            button{
                width:140px;
                height:48px;
            }
        }
        textarea,
        input {
            border: 1px solid $grey-500;
            border-radius: 6px;          
            outline: none;
        }
        textarea {
            resize: none;
        }
        input,
        textarea::placeholder {
            color: $white;
            font-style: normal;
            font-weight: normal;
            font-size: 16px;
            line-height: 19px;
            padding-left: 16px;
        }
        p {
            font-size: 16px;
            line-height: 19px;
        }
    }
}
