.c-contacts-main-wrapper{
    display: grid;
    grid-template-rows: 120px 650px 600px 900px;
    grid-template-columns: 1fr;
    row-gap: 5px;
    color: $grey-700;
    @include for-desktop-up {
        grid-template-rows: 500px 686px 572px;
        row-gap: 5px;
    } 
}
.c-contacts-map-section__image{
   width:375px;
    height: 100%;
    @include for-desktop-up{
        width:1440px;
    height: 100%;
    }
    img{
        width: 100%;
      
        height: auto;
    }
}