@import "./../../settings/settings-colors";
@import "./../../settings/_settings-breakpoints";
@import "./../../settings/settings-shadows";

.c-card {
    display: grid;
    grid-template-rows: 150px 20px 1fr;
    border-radius: 12px;
    grid-template-columns: 1fr;
    position: relative;
    top: -60px;
    left: 0;
    align-items: center;
    box-shadow: $primary-shadow;
    overflow: hidden;

    @include for-desktop-up {
        grid-template-columns: 290px 20px 1fr;
        grid-template-rows: 112px;        
    }
    &__holes {
        position: relative;
        margin: 0;
        height: 21px;
        background: radial-gradient(circle 12px, transparent, transparent 40%, #c4c4c4 60%, #fff 60%, #fff 100%) 55px
            0px/19px 20px repeat-x;
        top: -8px;
        left: 0px;
        @include for-desktop-up {
            background: radial-gradient(circle 12px, transparent, transparent 40%, #C4C4C4 60%, #fff 63%, #fff 100%) 41px 29px/21px 18px repeat;
            height: 114px;
            top: 1px; 
        }
    }
    &__button {
        background-color: #ffff;
        padding: 46px 24px;        
        text-align: center;
        @include for-desktop-up {
            padding: 32px 64px;
        }
    }
    &__button button {        
        @include for-desktop-up {
            padding: 14px 32px;
        }
    }
    &__content h4,
    h5 {
        margin: 0 45px;
    }
    h4 {
        margin-top: 6px;
        color: $secondary-800;
    }
    h5 {
        color: $grey-700;
    }
    &__content {
        display: grid;
        grid-template-rows: 150px 150px 150px 150px;
        // grid-template-rows: repeat(4, 150px);
        grid-template-columns: 1fr;
        justify-items: start;
        align-items: center;
        background-color: #fff;
        position: relative;
        top: -11px;
        @include for-desktop-up {
            grid-template-columns: 190px 210px 225px 185px;
            grid-template-rows: 112px;
            top: 0;
            column-gap: 20px;
            padding-right: 80px;
            $left: (105px, 150px, 150px);
            @for $i from 1 through 3 {
                div:nth-of-type(#{$i}):after {
                    content: " ";
                    background-color: $grey-100;
                    position: absolute;
                    top: 13px;
                    height: 24px;
                    width: 2px;
                    left: nth($left, $i);
                }
            }
            @include for-desktop {
                grid-template-columns: 160px 174px 186px 150px;
                grid-template-rows: 112px;
                top: 0;
                column-gap: 20px;
                padding-right: 80px;
                $left: (88px, 128px, 132px);
                @for $i from 1 through 3 {
                    div:nth-of-type(#{$i}):after {
                        content: " ";
                        background-color: $grey-100;
                        position: absolute;
                        top: 13px;
                        height: 24px;
                        width: 2px;
                        left: nth($left, $i);
                    }
                }
            }
        }      
    }
    &__info {
        margin: 0 70px;      
        position: relative;
        @include for-desktop-up {
            justify-self: end;
            margin: 0 10px;
        }
        h4,
        h5 {
            margin: 0;
        }
        h4 {
            margin-top: 6px;
            color: $secondary-800;
        }
        h5 {
            color: $grey-700;
        }
    }
    @each $item in money, people, calendar, location {
        .#{$item}-icon:before {
            content: url("./assets/icons/#{$item}.svg");
            position: absolute;
            left: -50px;
            top: 8px;
        }
    }
    @each $item in money, people, calendar {
        .#{$item}-icon:after {
            content: " ";
            background-color: $grey-100;
            position: absolute;
            left: -50px;
            top: 100px;
            height: 2px;
            width: 20px;
        }
    }
}