.c-courses-main-wrapper{
    display: grid;
    grid-template-rows: 302px 770px 880px 527px 757px 1206px;
    grid-template-columns: 1fr;
    row-gap: 20px;
    color: $grey-700;
    @include for-desktop-up {
        grid-template-rows: 302px 0 566px 263px 554px 440px 482px;
        row-gap: 5px;
    }    
}