@import "./../../settings/settings-colors";
@import "./../../settings/_settings-breakpoints";
@import "./../../settings/settings-shadows";
@import "./../../utilities/utilities-animation";

.c-courses-main-wrapper {
    .c-main-heading {
        background: $blue-400;
        color: white;
        text-align: center;
        padding: 45px 0px;
        position: relative;
        z-index: -1;
        @include for-desktop-up {
            display: grid;
            grid-template-columns: 1fr 720px 1fr;
            height: 100%;
            .middle {
                grid-column: 2;
                align-self: center;
            }
        }
    }
    .c-main-heading__label {
        font-style: normal;
        font-weight: bold;
        font-size: 12px;
        line-height: 14px;
        text-transform: uppercase;
        background: $secondary-500;
        box-shadow: $primary-shadow;
        border-radius: 4px;
        padding: 4px 8px;
    }
}
