@import "./../../settings/settings-colors";
@import "./../../settings/_settings-breakpoints";
@import "./../../settings/settings-shadows";

.c-trainings-wrapper{
    align-self: center;  
}
.c-trainings {
    display: grid;
    grid-template-rows: 1fr 250px;
    grid-row-gap: 30px;
    @include for-desktop-up {
        grid-template-columns: 59% 36%;
        grid-template-rows: 1fr;  
        grid-column-gap:5%; 
          
    }
    &__video {
        box-shadow: $primary-shadow;
        border-radius: 12px;
        min-width: 335px;
        height: 190px;
        position: relative;
        @include for-desktop-up {
            align-self: center; 
             max-width: 440px;
            height: 247px;
        }
        &:before {
            content: url("./assets/icons/play.png");
            position: absolute;
            left: 52%;
            top: 50%;
            transform: translate(-77%, -39%);
        }
    }

}