@import "./../../settings/settings-colors";
@import "./../../settings/_settings-breakpoints";
@import "./../../settings/settings-shadows";

.c-serificates-wrapper {
    display: none;
    @include for-desktop-up {
        display: grid;
        align-items: center;
        .c-certificates {
            display: grid;
            grid-template-columns: 50% 40%;
            position: relative;
            column-gap: 150px;
            height: 100%;
            &__info {
                position: relative;
                padding-left: 50px;
                &:before {
                    content: url(./assets/icons/sertificate-star.svg);
                    position: absolute;
                    left: -6px;
                    top: 28px;
                }
            }
            &__image {
                position: relative;
                justify-self: center;
                width: 363px;
                height: 256px;              
                &:before {                   
                    content: "Снимка на сертификата";
                    position: absolute;
                    left: 50%;
                    top: 50%;
                    font-size: 18px;
                    display: inline-block;                   
                    font-family: Lato;
                    font-style: normal;
                    font-weight: 500;
                    line-height: 22px;
                    transform: translate(-50%, -50%);
                }
            }
        }
    }
}
