@import "./../../settings/settings-colors";
@import "./../../settings/_settings-breakpoints";
@import "./../../settings/settings-shadows";

.c-information {
    display: grid;
    grid-template-rows: 48% 48%;
    position: relative;
    row-gap: 50px;
    @include for-desktop-up {
        grid-template-columns:  44% 44%;
        -ms-grid-rows: 1fr;
        grid-template-rows: 1fr;     
        justify-content: space-between;
        padding-left: 50px;        
    }
    &:before {
        content: url(./assets/images/horizontal-border.svg);
        position: absolute;
        left: 0;
        top: 528px;
        @include for-desktop-up {
            content: url(./assets/images/vertical-border.svg);
            position: absolute;
            left: 50%;
            top: 23px;
        }
    }
    & h2 {
        width: 82%;
        padding-left: 45px;
        @include for-desktop-up {
           padding:0;  
        }
    }
    & span {
        font-weight: bold;
    }
    & a {
        color: $secondary-800;
        font-size: 16px;
        line-height: 20px;
    }
    &__time {
        position: relative;
        &:before {
            content: url(./assets/icons/pink-clock.svg);
            position: absolute;
            left: 0;
            top: 28px;
            @include for-desktop-up {
                left: -53px;               
             }
        }
    }
    &__location {
        position: relative;
        &:before {
            content: url(./assets/icons/lightbulb.svg);
            position: absolute;
            left: 0;
            top: 28px;
            @include for-desktop-up {
                left: -45px;               
             }
        }
    }
}
