@import "./../../settings/settings-colors";
@import "./../../settings/_settings-breakpoints";

.c-courses-main-wrapper{
    display: grid;
    grid-template-rows: 660px 880px 510px 750px 1100px;
    grid-template-columns: 1fr;
    row-gap: 20px;
    color: $grey-700;
    @include for-desktop-up {
        grid-template-rows: 0 450px 270px 700px 300px 440px;
        row-gap: 20px 
    }    
}