@import "./../settings/_settings-colors.scss";
@import "./../settings/settings-breakpoints";
@import "./../settings/settings-shadows";

.c-header-wrapper {
    display: grid;
    grid-template-rows: 70px 312px;
    align-items: center;
}
.c-header__info {
    background: $blue-400;
    color: white;
    text-align: center;
    padding: 45px 0px;
    @include for-desktop-up {
        display: grid;
        grid-template-columns: 1fr 640px 1fr;
        grid-template-rows: 210px;
        padding: 45px 0px;

        .middle {
            grid-column: 2;
        }
    } 
}
.c-header__label {
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 14px;
    text-transform: uppercase;
    background: $secondary-500;
    box-shadow: $primary-shadow;
    border-radius: 4px;
    padding: 4px 8px;
}
