$white: #ffffff;
$primary-300: #41bead;

$secondary-50: #fff8e1;
$secondary-500: #ffc20a;
$secondary-600: #ffb402;
$secondary-800: #ff9100;
$secondary-900: #ff7100;

$grey-100: #F1F1F1;
$grey-200: #e6e6e6;
$grey-500: #919191;
$grey-700: #565656;

$blue-300: #66b9f8;
$blue-400: #44a9f8;
