@import "./../settings/settings-colors";
.o-container{
    max-width: 1290px; 
    width: 100%;
    margin: 0 auto;
}
.o-page-wrapper{  
   display:grid;
   grid-template-rows:390px 1fr 567px;
   grid-row-gap: 80px;
   width:100%;
   @include for-desktop-up{
    grid-template-rows:390px 1fr 312px;
   }
}
